/* TODO > style the checkmarks */ 

:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: inherit;
    margin: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#head-text {
    flex-grow: 1;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-top: 3px solid #ddd;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead {
    background-color: #ddd;
    border-bottom: rgba(0, 0, 0, 0.466) solid 2px;
}


